body {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

h1 {
    font-family: "Barriecito";
}

h5 {
    font-family: "Zain";
    font-weight: 300;
}

article {
    font-family: "Zain";
    font-weight: 300;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}
/*-------------------------------------------*/
#logo {
    margin-left: 5vh;
    
}

.titulo {
    margin-bottom: 0;
}

.corpo {
    margin-top: 0;
}
/*-------------------------------------------*/
#banner {
    max-width: 100%;
    padding: 10vh;
    display: flex;
    background-image: url("https://live.staticflickr.com/7498/27528274170_a47be65fd4_k.jpg");
    background-attachment: fixed;
    justify-content: space-between;
}

#banner h5, #banner h1, 
#bannerMalakoff h5, #bannerMalakoff h1,
#bannerSertao h5, #bannerSertao h1 {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 10vh;
}

#banner h1, #bannerMalakoff h1,
#bannerSertao h1 {
    margin-bottom: 0;
}

#banner h5, #bannerMalakoff h5,
#bannerSertao h5 {
    margin-top: 0;
}

#banner article, #bannerMalakoff article,
#bannerSertao article {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 2vh;
    margin-bottom: 0;
    width: 90vh;
    height: fit-content;
}
/*-------------------------------------------*/
#historia {
    display: grid;
    justify-content: space-around;
    margin: auto;
}

.historiaIntro {
    margin: auto;
    font-size: xx-large;
}

.conteudoHistoria {
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}

.historiaFotos {
    max-width: 46%;
    margin: auto;
}

.historiaFotos img {
    max-width: 100%;
    box-shadow: 0px 0px 10px black;
}

#historia article {
    background-color: black;
    color: white;
    max-width: 46%;
    gap: 2vh;
    margin: auto;
    padding: 2vh;
    height: fit-content;
}
/*-------------------------------------------*/

#pontosTur {
    display: grid;
    justify-content: center;
}

.pontosTitulo {
    font-size: xx-large;
    margin: auto;
}

.pontosCards {
    display: flex;
    justify-content: space-between;
    font-family: "Zain";
    font-size: x-large;
    text-shadow: 0px 0px 20px black;
}

.pontosCards a {
    color: white;
}

.card1 {
    background-image: url(https://live.staticflickr.com/2602/3985619812_b70df28e4f_b.jpg);
    margin-right: 5vh;
}

.card2 {
    background-image: url(https://live.staticflickr.com/7689/18057857131_20649cbcf5_z.jpg);
}

.card1, .card2 {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20vh;
    padding-right: 20vh;
    max-width: 100%;
}
/*-------------------------------------------*/

#bannerMalakoff {
    background-image: url(https://live.staticflickr.com/5576/15062676095_884210ec63_z.jpg);
}

#bannerSertao {
    background-image: url(https://live.staticflickr.com/5664/21020612885_8d9da0ffdd_z.jpg);
}

#bannerMalakoff, #bannerSertao {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    padding: 10vh;
    display: flex;
    justify-content: space-between;
}

#bannerMalakoff h1, #bannerSertao h1 {
    font-family: "Zain";
}

/*-------------------------------------------*/
footer {
    background-image: url("https://live.staticflickr.com/5494/9557362238_7d0acfb3e8_c.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5vh;
    margin-top: 5vh;
    margin-bottom: 0;
}

#infoFooter {
    display: flex;
    justify-content: space-between;
}

.logoFooter {
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 10vh;
    padding: 1vh;
    box-shadow: 0px 0px 10px black;
}

.tituloFooter, .corpoFooter {
    margin-bottom: 0;
    margin-top: 0;
}

.creditoImagens {
    font-family: "Zain";
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-right: 10vh;
    padding: 1vh;
    box-shadow: 0px 0px 10px black;
}

.nomeFotografo {
    margin: 0;
    font-weight: 300;
}

.introCreditos {
    margin-top: 0;
}

#copyright {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    padding: 0;
}

#copyright h1 {
    font-family: "Zain";
}